<ion-header>
  <ion-toolbar>
    <ion-title>
    รายชื่อนักเรียน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
      <!-- Searchbar with value -->
<ion-searchbar placeholder="ชื่อ-สกุล"></ion-searchbar>
    </ion-row>

      <ion-item>
        <ion-label>
          <ion-row>
            <ion-col>
         {{Level.year}}
        </ion-col>
        <ion-col>
            {{Level.class}} {{Level.room}}
        </ion-col>
        </ion-row>
        </ion-label>
      </ion-item>
      <ion-list>
      <ion-item *ngFor="let item of data"> 
<ion-row>
  <ion-col size="4">
<ion-avatar item-start>
<img width="30" [src]="item.image">
</ion-avatar>
  </ion-col>

  <ion-col size="8">
    <p>
      {{item.name}}  {{item.id}}
    </p>
  </ion-col>

</ion-row>
      </ion-item>

    </ion-list>
</ion-content>
